<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue"></script>
  <script src="products.js"></script>
</head>

<body>

  <div id="nav"><h1>CLASS BOOKING SYSTEM</h1></div>
  

    
    <div id="app" >

      <strong>Search</strong>
          <input type="text" v-model="search_term"><br><br>

      <!-- div containing the options to sort items in the website -->
      <div id="sort_panel">
        <Strong>SORTING OPTIONS</Strong>
        <select v-model="sorty.type">
          <option value="">Default</option>
          <option value="P">Price</option>
          <option value="C">Campus</option>
          <option value="S">Subject</option>
          <option value="A">Availability </option>
        </select>
        <br><br><br>
        <Strong>ORDER BY</Strong>
        <select v-model="sorty.order_by">
          <option value="">Default</option>
          <option value="HL">High to Low</option>
          <option value="LH">Low to High</option>
        </select>
        <br>
        <br>
        <br>
        <input type="button" value="SORT" @click="sort_array">
      </div>

      <!-- button for the shopping cart -->
      <input type="button" value="Shopping Cart" v-show="len" @click="show_cart">

      <!-- displaying products in the webpage -->
      <div v-if="show_product">
      <div v-for="course in filtered_courses" :id="course.id" >

        <h1>Subject : {{course.subject}}</h1>
        <p>Campus : {{course.campus}}</p>
        <p>Price : {{course.price}}</p>
        <p>Available Spaces : {{course.spaces}}</p>
        <input type="button" value="Add To Cart" :disabled="course.A_D" @click="add_to_cart(course.id)">
      </div>
      </div>



      <!-- The checout page starts here -->
      <div id="checkout" v-else >
        <div v-for="c in cart">
              <h1>{{c.subject}}</h1>
              <p>{{c.campus}}</p>
              <p>{{c.price}}</p>
              <input type="button" value="Remove" @click="remove_from_cart(c.id)">
        </div>
        <!-- This div is to take input for placing order -->
        <div>
          <strong>First Name</strong>
          <input type="text" v-model="order.first_name"><br><br>
          <strong>Last Name</strong>
          <input type="text" v-model="order.last_name"><br><br>
          <strong>Phone Number</strong>
          <input type="number" v-model="order.phone_number"><br><br>
          <strong>Post Code</strong>
          <input type="text" v-model="order.postcode"><br><br>
          <strong>Address Line</strong>
          <input type="text" v-model="order.address"><br><br>
          <input type="button" value="Place Order" v-show="all_info" @click="place_my_order">
        </div>
    </div>
  </div>

  

</body>

<script>
  //Vue for showing rendering all the lessons in the page
  let app1 = new Vue(
    {
      el: '#app',
      data:
      {
        search_term:'',
        courses:courses,
        show_product : true,
        cart: [],
        len: false,
        order :{
          first_name : '',
          last_name : '',
          phone_number : '',
          postcode :'',
          address : ''
        },
        sorty : {
          type : '',
          order_by : ''
        }
      },
      computed:{
        filtered_courses()
        {
          return this.courses.filter((course)=>{
            return course.subject.match(this.search_term) || course.campus.match(this.search_term);
          })
        },
        search_only(){
            return true;
        },
        all_info(){
          if(this.order.first_name == '' || this.order.last_name == '' || this.order.phone_number == '' || this.order.postcode == '' || this.order.address == '')
          {
            return false;
          }
          else{
            return true;
          }
        },
      },  
      methods: {
        //function to add items to the cart
        add_to_cart(id_p) {

          for (i = 0; i < this.courses.length; i++) {
            if (this.courses[i].id === id_p) {
              //pushing items to the cart array
              this.cart.push(this.courses[i]);
              //enabling the shopping cart button(as atleast one course is added at this point)
              this.len = true;

              if (this.courses[i].spaces > 0) {
                --this.courses[i].spaces;
                //disabling the add to art button if spaces run out
                if (this.courses[i].spaces === 0) {
                  this.courses[i].A_D = true;
                }
              }

            }
          }
        },
        show_cart() {
        if(this.show_product === true)
        {
          this.show_product = false;
        }
        else{
        this.show_product = true;
        }
        
        },
        remove_from_cart(id_p){ 
          for(i=0; i<this.cart.length;i++)
          {
            if(this.cart[i].id == id_p)
            {
              this.cart.splice(i,1);
            }
          }
          for(i=0; i<courses.length;i++)
          {
            if(courses[i].id == id_p)
            {
              ++courses[i].spaces;
            }
          }
          if(this.cart.length == 0)
          {
            this.len = false;
            this.show_product = true;
          }
        },
        place_my_order(){
          alert("Your Order Details \n Send To :\n" + this.order.first_name + " " + this.order.last_name + "\n\nAddress : \n" + this.order.postcode + " \n" + this.order.address +"\nContact : " + this.order.phone_number );
          //alert("Order Placed Successfully");
        },
        sort_array(){
          if(this.sorty.type == "P" && this.sorty.order_by == "HL")
          {
            
            for(i=0;i<courses.length;i++)
            {
              for(j=0;j<courses.length;j++)
              {
                if(courses[i].price > courses[j].price)
                {
                  arr = courses[i];
                  courses[i] = courses[j];
                  courses[j] = arr;
                }
              }
              
            }

          }
        },
      sort_array(){
          if(this.sorty.type == "P" && this.sorty.order_by == "HL")
          {
            
            for(i=0;i<courses.length;i++)
            {
              for(j=0;j<courses.length;j++)
              {
                if(courses[i].price > courses[j].price)
                {
                  arr = courses[i];
                  courses[i] = courses[j];
                  courses[j] = arr;
                }
              }
              
            }
            this.show_product = false;
            this.show_product =true;

          }
          else if(this.sorty.type == "P" && this.sorty.order_by == "LH")
        {
          for(i=0;i<courses.length;i++)
            {
              for(j=0;j<courses.length;j++)
              {
                if(courses[i].price < courses[j].price)
                {
                  arr = courses[i];
                  courses[i] = courses[j];
                  courses[j] = arr;
                }
              }
              
            }
            this.show_product = false;
            this.show_product =true;
        }
        else if(this.sorty.type == "C" && this.sorty.order_by == "HL")
        {
          for(i=0;i<courses.length;i++)
            {
              for(j=0;j<courses.length;j++)
              {
                if(courses[i].campus > courses[j].campus)
                {
                  arr = courses[i];
                  courses[i] = courses[j];
                  courses[j] = arr;
                }
              }
              
            }
            this.show_product = false;
            this.show_product =true;
        }
        else if(this.sorty.type == "C" && this.sorty.order_by == "LH")
        {
          for(i=0;i<courses.length;i++)
            {
              for(j=0;j<courses.length;j++)
              {
                if(courses[i].campus < courses[j].campus)
                {
                  arr = courses[i];
                  courses[i] = courses[j];
                  courses[j] = arr;
                }
              }
              
            }
            this.show_product = false;
            this.show_product =true;
        }
        else if(this.sorty.type == "S" && this.sorty.order_by == "HL")
        {
          for(i=0;i<courses.length;i++)
            {
              for(j=0;j<courses.length;j++)
              {
                if(courses[i].subject > courses[j].subject)
                {
                  arr = courses[i];
                  courses[i] = courses[j];
                  courses[j] = arr;
                }
              }
              
            }
            this.show_product = false;
            this.show_product =true;
        }
        else if(this.sorty.type == "S" && this.sorty.order_by == "LH")
        {
          for(i=0;i<courses.length;i++)
            {
              for(j=0;j<courses.length;j++)
              {
                if(courses[i].subject < courses[j].subject)
                {
                  arr = courses[i];
                  courses[i] = courses[j];
                  courses[j] = arr;
                }
              }
              
            }
            this.show_product = false;
            this.show_product =true;
        }
        }
        
      },
      
      })
</script>

</html>