<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue"></script>
  <script src="products.js"></script>
</head>

<body>

  <div id="nav"><h1>CLASS BOOKING SYSTEM</h1></div>
  <div id="sort_panel">pannel option for sorting preference</div>

    
    <div id="app" >

      <input type="button" value="Shopping Cart" :disabled="len" @click="show_cart">
      <!-- <img style="width: 100px;"v-bind:src="lesson.image"> -->
      <div v-if="show_product">
      <div v-for="course in courses" >

        <h1>Subject : {{course.subject}}</h1>
        <p>Campus : {{course.campus}}</p>
        <p>Price : {{course.price}}</p>
        <p>Available Spaces : {{course.spaces}}</p>
        <input type="button" value="Add To Cart" :disabled="course.A_D" @click="add_to_cart(course.id)">
      </div>
      </div>



      <!-- The checout page starts here -->


      <div id="checkout" v-else >
        <div v-for="c in cart" >
              <h>{{c.subject}}</h>
              <p>{{c.campus}}</p>
              <p>{{c.price}}</p>
              <input type="button" value="Remove" @click="remove_from_cart(c.id)">
      </div>
    </div>
  </div>

  

</body>

<script>
  //Vue for showing rendering all the lessons in the page
  let app1 = new Vue(
    {
      el: '#app',
      data:
      {
        courses:courses,
        show_product : true,
        cart: [],
        len: true    
      },
      methods: {
        //function to add items to the cart
        add_to_cart(id_p) {

          for (i = 0; i < this.courses.length; i++) {
            if (this.courses[i].id === id_p) {
              //pushing items to the cart array
              this.cart.push(this.courses[i]);
              //enabling the shopping cart button(as atleast one course is added at this point)
              this.len = false;

              if (this.courses[i].spaces > 0) {
                --this.courses[i].spaces;
                //disabling the add to art button if spaces run out
                if (this.courses[i].spaces === 0) {
                  this.courses[i].A_D = true;
                }
              }

            }
          }
        },
        show_cart() {
        if(this.show_product === true)
        {
          this.show_product = false;
        }
        else{
        this.show_product = true;
        }
        
        },
        remove_from_cart(id_p){
          console.log(id_p);
          for(i=0; i<this.cart.length;i++)
          {
            if(this.cart[i].id == id_p)
            {
              this.cart.splice(i,1);
            }
          }
          for(i=0; i<courses.length;i++)
          {
            if(courses[i].id == id_p)
            {
              ++courses[i].spaces;
            }
          }
          if(this.cart.length == 0)
          {
            this.len = true;
            this.show_product = true;
          }
        }
      }
      })
</script>

</html>