#subjects{
    display:block;
    border:1px slod black;
}
#nav{
    display:block;
    width:100hw;
    height: 70px;
    border:1px solid blue;
    margin: 10px;
}
#sort_panel{
    display:block;
    float:left;
    height: 20vh;
    width: 250px;
    border:1px solid red;
    padding : 10px;
    margin:10px;

}
#app{
    /* display:block; */
    float: left;
    border : 1px solid black;
    width : 1800px;
    height : 100vh;

}
#course_templates{
    border : 1px solid black;
    float: left;
    padding: 30px;
    margin : 20px;
    border-radius :10px;
}